ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
    }

ul li {
        position: relative;
}

li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
}

li#juizo:hover ul#nome_local { display: block; }
li#usuario:hover ul#nome_email { display: block; }